{{#each article}}
  <div class="columns articles">
    <div class="column headlineDiv">{{this.headline}}</div>
    <a href={{this.link}} alt="link to article">{{this.headline}}</a>
    </div>
    <div class="column savedbutton">
      <form class="saved-form" action="/api/article/{{this._id}}?_method=PUT" method="POST">
      <input type="hidden" name="id" value={{this._id}}>
      <button class="{{this._id}}-article-saved btn btn-danger" data-id={{this._id}} data-comment={{this.comment}} id="save-button">Saved Article</button>
    </div>
    <div class="column commentDiv">
      <span class=commentsHolder></span>
    </div>

  </div>

<form action="/article/{{this._id}}" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="noteTitle" class="form-control" name="" placeholder="">
    </div>
    <div class="form-group">
        <label for="CommentInput">Note</label>
        <textarea id="commentInput" class="form-control" name="comment"  placeholder="Enter Comment"></textarea>
    </div>
    <button data-id={{this._id}} id="saveComment" type="submit" class="btn saveComment btn-primary">Save Comment</button>
</form>

  {{/each}}
</section>